<% @page_blocks_bottom.each do |pb| %>
  <div class="block <%= pb.block_class if pb.block_class %>">
  	<% if pb.show_title? %>
  	<h3 class="block-title"><%= pb.title %></h3>
  	<% end %>
  	<div class="block-body">
  	  <%= raw pb.body %>
  	  </div>
  </div>
<% end %>