<% @page_blocks_right.each do |pb| %>
  <div class="block block-right <%= pb.block_class if pb.block_class %>">
  	<% if pb.show_title? %>
  <h3 class="block-title"><%= pb.title %></h3>
  	<% end %>
  	<div class="block-body">
  	  <%= raw pb.body %>
  	</div>
  </div>
<% end %>