<%= render "featured_posts" %>
<div class="container">
  <div class="row">
    <%= render 'article', obj: @articles %>
    <div class="center">
      <%= will_paginate(@things, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'ppagination-lg') %>
    </div>
  </div>
</div>
<%= render "category_articles" %>

