<h2>Website Contact</h2>

<style>
  table {
    background: #f7f7f7;
    padding: 1em
  }
</style>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <td>:</td>
    <td><%= @name %></td>
  </tr>
  
  <tr>
    <th>Phone Number</th>
    <td>:</td>
    <td><%= @phone_number %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td>:</td>
    <td><%= @email %></td>
  </tr>
  <tr>
    <th>Message</th>
    <td>:</td>
    <td><%= @body %></td>
  </tr>
</table>