<div class="notfound">
	<div class="notfound-404">
		<h1>500</h1>
	</div>
	<h2>Oops! went wrong</h2>
	<p>Ruh-roh, something just isn't right... Time to paw through your logs and get down and dirty in your stack-trace;)</p>
	<%= link_to 'Go Back', :back, class: "btn btn-outline-success" %>
</div>